:root {
    --light-blue: #4b9ac8;
    --dark-blue: #34759b;
    --light-color: white;
    --dark-color: #061c44;
    --bg-blue: hsl(202, 51%, 82%, 50%);
}


html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 1em/1.5;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-blue);
    text-align: center;
}

.logo-and-search {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.logo-and-search img {
    margin: 1em;
    height: 8em;
}

.logo-and-search input {
    height: 2em;
    margin: 1em 1em 0 0;
}

.header {
    height: 100%;
    position: relative;
    overflow: hidden;
    background: url("../pictures/skola-bg.webp") center no-repeat;
    background-size: cover;
    opacity: 0.75;
}

.header .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.header h1,
.header h2 {
    margin: 0;
}

.header h2 {
    text-transform: uppercase;
    margin-top: -.5em;
}

.header hgroup {
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--dark-color);
    border: 5px solid var(--dark-color);
    border-radius: .5em;
    padding: .5em 3em;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.header .overlay {
    position: absolute;
    background-size: cover;
}

img {
    margin-right: 20px
}

.nav {
    padding: 2em 0;
    font-size: .8em;
    color: var(--light-blue);
    position: relative;
}

.nav a {
    color: var(--light-color);
    text-decoration: none;
}

.nav a:hover {
    color: var(--dark-blue);
    border-bottom: solid 0.25em var(--light-color);
}

.nav nav {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--light-blue);
    width: 100%;
}

.nav nav a {
    padding: 1em 2em;
    font-size: 1.3em;
    display: inline-block;
}

.nav nav a:hover {
    background: var(--dark-blue);
    color: var(--light-color);
}

img {
    max-width: 100%;
    height: auto;
}

.container header {
    margin-top: 15em;

}

@media screen and (min-width: 330px) {
    .container header {
        margin-top: 10em;
    }
}

@media screen and (min-width: 453px) {
    .container header {
        margin-top: 4em;
    }
}

@media screen and (min-width: 780px) {
    .container header {
        margin-top: 0em;

    }
}

@media screen and (min-width: 900px) {
    .container {
        width: 80%;
        margin: auto;
    }
}

.container img {
    width: 95%;
    margin: auto;
}

.container ol {
    text-align: left;
}

@media screen and (min-width: 600px) {
    .container img {
        width: 80%;
    }
}

@media screen and (min-width: 1000px) {
    .container img {
        width: 70%;
    }
}

.to-events {
    margin-top: 1em;
    text-align: right;
}

.to-events a {
    color: var(--dark-color);

}

.to-events a:hover {
    color: var(--dark-blue);
}

.to-event {
    margin-top: 1em;
}

.to-event a {
    color: var(--dark-color);
}

.to-event a:hover {
    color: var(--dark-blue);
}

/* footer */
.footer {
    background-color: var(--dark-color);
    color: var(--light-color);
}

footer {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    margin-top: 1em;
}

.footer__nav {
    padding: 0.5em 0 0.5em 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (min-width: 750px) {
    .footer__nav {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 950px) {
    .footer__nav {
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: 1150px) {
    .footer__nav {
        width: 60%;
        margin: auto;
    }
}

.footer-nav i {
    margin-right: 0.5em;
}

.footer__nav a {
    color: var(--light-color);
    font-size: large;
    text-decoration: none;
    border-bottom: solid 0.25em var(--dark-color);
}

.footer__nav a:hover {
    color: var(--light-blue);
    border-bottom: solid 0.25em var(--light-blue);
}

/* o škole - flex box*/
@media screen and (min-width: 900px) {
    #grid-header {
        grid-area: header;
    }

    #grid-article {
        grid-area: article;
    }

    #grid-picture {
        grid-area: picture;
    }

    #grid-pic {
        grid-area: pic;
    }

    #grid-footer {
        grid-area: footer;
    }

    #grid-img1 {
        grid-area: img1;
    }

    #grid-img2 {
        grid-area: img2;
    }

    #grid-img3 {
        grid-area: img3;
    }

    #grid-img4 {
        grid-area: img4;
    }

    .grid-container {
        display: grid;
        width: 80%;
        margin: auto;
        grid-gap: 1.3%;
        grid-template-columns: (4 24%);
        grid-template-rows: auto;
        grid-template-areas:
            "header header header header"
            "article article article picture"
            "pic footer footer footer"
            "img1 img2 img3 img4";
    }

    .grid-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



}